/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--white-col);
    font-family: 'Montserrat', sans-serif;
}

:root{
    --primary-col:#020822;
    --white-col:#ffff;
    --liteGray-col:#DAD9D7;
}

body{
    background-color: var(--primary-col);
    transition: background-color 1s ease;
    overflow-x: hidden;
}

/* bg color */
.color-gray{
  background-color: #DAD9D7;
}


.white{
  background-color: aqua;
}



/* header section */

.logo{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: 700;
}
header .portfolio-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    margin-top: 20px;
}
.hamburger-btn{
    width: 70px;
}



/* hero section */
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 10px;
}

.hero-head-1{
    display: flex;
    align-items: center;
}
.hero-head-1 h3{
    font-size: 70px;
    font-weight: 800;
}
.hi-img{
    width: 130px;
}

/* hero-image-section */
.hero-image-section{
  height: fit-content;
  padding: 100px 0px;
}

/* service section */

.section-heads{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 73px;
  color: var(--primary-col);
  display: inline-block;
  position: relative;
  transition: .3s ease-in-out;
}

.section-heads::before{
  content: '';
  width: 40%;
  background-color: var(--primary-col);
  height: 3px;
  position: absolute;
  border-radius: 15px;
  top: -5px;
  transition: .3s ease-in-out;

}
.section-heads:hover::before{
  width: 80%;
}

.service-images {
  position: relative;
}

.service-images .service-img{
  position: absolute;
  height: 40vh;
  opacity: 0;
  z-index: -1;
  transform: scale(0.8);
}

.services-wrapper {
  display: grid;
  place-content: center;
}

.services-wrapper .categories {
  font-size: 3.6vmax;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.services-wrapper .categories p {
  cursor: pointer;
  font-weight: 400;
  color: #282229;
  mix-blend-mode: color-burn;
}

