/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--white-col);
}

:root{
    --primary-col:#020822;
    --white-col:#ffff;
    --liteGray-col:#DAD9D7;
}

body{
    background-color: var(--primary-col);
    transition: background-color 1s ease;
    font-family: 'Teko', sans-serif;
  }

/* bg color */
.color-gray{
  background-color: #DAD9D7;
}
.color-primary{
  background-color: var(--primary-col);
}
.panel{
  min-height: 20vh;
}



/* header section */


.logo{
    font-size: 50px;
    font-weight: 600;
}
header .portfolio-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    margin-top: 20px;

}
.hamburger-btn{
    width: 70px;
}



/* hero section */
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 10px;
}

.hero-head-1{
    display: flex;
    align-items: center;
}
.hero-head-1 h3{
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 7px;
}
.hi-img{
    width: 130px;
}

/* hero-image-section */

/* service section */

.section-heads{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 73px;
  color: var(--primary-col);
  display: inline-block;
  position: relative;
  transition: .3s ease-in-out;
}

.section-heads::before{
  content: '';
  width: 40%;
  background-color: var(--primary-col);
  height: 3px;
  position: absolute;
  border-radius: 15px;
  top: -5px;
  transition: .3s ease-in-out;

}
.section-heads:hover::before{
  width: 80%;
}

